body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// --------------------------//
$color_1: white;
$color_2: #61dafb;
$color_3: rgba(0, 0, 0, 0.87);
$background-color_1: #282c34;
$background-color_2: transparent;
$background-color_3: rgba(0, 0, 0, 0.04);
$background-color_4: rgba(0, 0, 0, 0.08);

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: $background-color_1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color_1;
}
.App-link {
  color: $color_2;
}
.pagination-container {
  display: flex;
  list-style-type: none;
  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: $color_3;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
    &:hover {
      background-color: $background-color_3;
      cursor: pointer;
    }
    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }
    }
    .arrow.left {
      transform: rotate(-135deg) translate(-50%);
    }
    .arrow.right {
      transform: rotate(45deg);
    }
  }
  .pagination-item.dots {
    &:hover {
      background-color: $background-color_2;
      cursor: default;
    }
  }
  .pagination-item.selected {
    background-color: $background-color_4;
  }
  .pagination-item.disabled {
    pointer-events: none;
    .arrow {
      &::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }
    }
    &:hover {
      background-color: $background-color_2;
      cursor: default;
    }
  }
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

// -------------------------//
// --loader//
.main-loader-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  p {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
    display: block;
  }
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border-bottom: 4px solid rgb(120, 120, 120);
      border-left: 4px solid transparent;
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
// --loader//
.add-pro-btn {
  margin: 30px 30px 0px 30px;
}
.product-list {
  width: 100%;
  padding: 30px;
  .product-inner-box {
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    padding: 25px;
    height: 100%;
    .product-items-img {
      width: 100%;
      border: 1px solid rgb(230, 230, 230);
      padding: 12px;
      border-radius: 8px;
      height: auto;
      img {
        border-radius: 8px;
        width: 100% !important;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 500;
      margin: 0;
      padding-top: 22px;
      line-height: 26px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: #727272;
      padding-top: 5px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .buttone-group {
      width: 100%;
      display: flex;
      align-items: center;
      button {
        padding: 8px 30px;
        font-size: 16px;
        font-weight: 500;
        + {
          button {
            margin-left: 15px;
          }
        }
      }
    }
    .info-widget {
      padding-top: 30px;
      .submit-section {
        margin-top: 20px;
        button {
          padding: 8px 15px;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .form-group {
        .form-label {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
.pagination-container.pagination-bar {
  width: 100%;
  justify-content: center;
  padding: 20px 30px;
  .pagination-item {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    .arrow {
      &::before {
        width: 8px;
        height: 8px;
      }
    }
  }
}
.modal-dialog {
  .info-widget {
    .submit-section {
      padding-top: 20px;
    }
    .form-group {
      .form-label {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

.modal-dialog {
  .delete-text {
    color: #dc3545;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    display: block;
  }
  .btn-light,
  .btn-danger {
    padding: 7px 16px;
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 1700px) {
  .product-list {
    .product-inner-box {
      .product-items-img {
        img {
          height: 250px;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .product-list {
    .product-inner-box {
      .product-items-img {
        img {
          height: 220px;
        }
      }
    }
  }
}
